<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <clientCache cacheControlMode="NoControl" cacheControlMaxAge="7.00:00:00" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <add name="Content-Disposition" value="Attachment" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
